.aboutus-last-section {
    display: flex;
}

.aboutus-img {
    width: 50vw;
    height: auto;
    background-image: url('https://images.unsplash.com/photo-1581934932994-e4ac37c0c882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus-desc {
    width: 50vw;
    height: auto;
}

.blog-post:hover {
    box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.2);
}

@media screen and (max-width: 758px) {
    .aboutus-last-section {
        display: flex;
        flex-direction: column;
    }
    
    .aboutus-img {
        width: 100%;
        height: 300px;
        background-size:cover;
    }

    .aboutus-desc {
        width: 100%;
    }
}